html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d0d0d0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  text-align: center;
}

.login-btn {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.7em;
  border-radius: 0.25rem;
  color: white;
}

.login-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255,255,255,0.7);
  cursor: pointer;
}

.Page {
  min-height: 100vh;
  position:relative;
  padding-bottom: 176px;
}


.search-result {
  padding: 3px;
}

.search-result:hover {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}

.search-results a, .search-results a:hover, .search-results a:visited {
  text-decoration: none;
  color: black !important;
}

.search-result-name {
  padding-left: 30px;
}

#popover-positioned-srcres {
  max-width: 350px;
}

.search-results.popover-body {
  padding: 16px 0;
}

.src-error {
  padding: 0 16px;
}

.dept-select {
  display: inline-block;
  margin-top: 111px;
  width: 80%;
  background-color: white;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  box-shadow: 1px 1px rgba(0,0,0,0.5);
}

.dept-select a.nav-link.active, .dept-select a.nav-link:hover {
  color: rgba(0,0,0,1) !important;
}

.dept-select a.nav-link {
  color: rgba(0,0,0,0.6) !important;
}

.dept-select .dept-heading {
  font-weight: bold;
  font-size: 22px;
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}

.row {
  margin: 0 !important;
}

footer {
  width: 100%;
  height: 156px;
  position: absolute;
  bottom: 0;
  border-top: 3px solid black;
  background-color: #eb2e3b;
}

.add-button-card {
  position: absolute;
  top: 0;
  right: 0;
}

.add-button-card button {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

footer div {
  position: relative;
  width: 100%;
  height: 100%;
}

footer div p {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bolder;
  font-family: Helvetica;
  font-size: 24px;
}

.margin-top {
  margin-top: 30px !important;
}

.detail-row {
  margin: 5px 0 !important;
}

.sh-list-item {
  max-height: 100px !important;
}

.sh-list-item div img {
  max-height: 100px;
}

.list-header {
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(0,0,0,0.2);
  margin: 0 !important;
}

.list-body {
  border: 3px solid rgba(0,0,0,0.2);
}

.list-body .row div {
  position: relative;
}

.list-body .row div span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}