.all-products-header {
  padding-top: 30px;
}

.card-group {
  min-height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card {
  padding: 15px;
  border: 1px solid #a3a3a3;
  box-shadow: 1px 1px rgba(0,0,0,0.5);
}

.not-link, .not-link:hover {
  color: initial;
  font-style: initial;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html, .root {
  min-height: 100vh;
}

.loading {
  font-size: 30px;
  font-weight: bold;
}

.center-center {
  position: absolute;
  top:33%;
  left:50%;
  transform: translate(-50%, -33%);
  -webkit-transform: translate(-50%, -33%);
  -moz-transform: translate(-50%, -33%);
  -ms-transform: translate(-50%, -33%);
  -o-transform: translate(-50%, -33%);
}

.nav-link, .navbar-brand {
  color: rgba(255,255,255,0.8) !important;
}

.nav-link.active, .navbar-brand.active, .nav-link:hover, .navbar-brand:hover {
  color: rgba(255,255,255) !important;
}

.navbar {
  background-color: #eb2e3b !important;
}

.carousel, .carousel-item {
  max-height: calc(100vh - 56px);
  min-height: calc(100vh - 56px);
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}

.card-img-top {
  min-height: 247.98px;
}



.product-page {
  display: inline-block;
  width: 80%;
  background-color: white;
  min-height: 100%;
  padding: 50px 4vw 0 2vw;
}

.product-page.reduced {
  padding: 50px 2vw 2vw 2vw;
}

.carousel-caption h3 {
  font-size: 8rem;
  text-shadow: 0.5rem 0.5rem 0.75rem #000000;
  font-family: 'Lobster', cursive;
}


.detail-row .col:first-child {
  text-align: right;
}

.detail-row .col:last-child {
  text-align: left;
}

.product-description {
  padding: 0 3vw;
  margin-top: 30px;
  text-align: justify;
}

.carousel-caption p {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.1875rem #000000;
  font-family: 'Lobster', cursive;
}
